@{
    ViewBag.title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="mt-2 p-4 bg-secondary bg-gradient text-white rounded">
            <h1 class="display-4">Learn, Share and Build.</h1>
            <h3>
                The requirements of clients may grow, but the solutions to their problems shall not stop. Share your knowledge, learn from
                all, build your applications.
            </h3>
            <p class="lead">Join the evergrowing community.</p>
        </div>
    </div>
</div>

<div class="row mt-4 mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Founded in 2023
            </div>
            <div class="card-body">
                With the ever growing need for technology and its uses, stack overflow aims at providing both the talented and new 
                developers with a platform to share their knowledge, help solve issues or problems and grow together as a brilliant coding
                community.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Our Partners</div>
            <div class="card-body">
                Stack overflow aims at creating a netwowrk with not just the well known industries, but also with numerous other start ups
                to give them a fair platform. Our products and services are focuseed on developer marketing, technical recruiting, market
                research and enterprise knowledge sharing.
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>