
<div class="row mt-4 mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Teams
            </div>
            <div class="card-body">
                <p>
                    A private secure home for your team's questions and answers. Perfect for teams consisting of members ranging from 10-100+
                    members. Easy access and no fuss. Give your team all it needs to be productive!
                </p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Enterprise</div>
            <div class="card-body">
                <p>
                    Stack overflow can be a private and secure home for your organizations questions and answers!
                    Empower your team to find and share information without disrupting their workflow.
                </p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/contact']").attr("id", "active");
</script>
